.stackWrapper {
  position: relative;
  margin : 14px 0
}
.stackHeader {
  position: relative;
  padding : 14px;
  border-bottom: 2px solid #7158e2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.stackTitle {
  margin : 0;
  color : #7158e2;
  font-size: 18px;;
}
.stackSearch input {
  width: 100%;
  font-size: 16px;
  padding : 4px 8px;
  border : none;
  border-radius: 4px;
  outline-color: #7158e2; 
  border : 2px solid #7158e2;
  color : #7158e2
}
.animeCardRow {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 480px){
  .stackSearch, .stackTitle {
    width:  100%;
    text-align: center
  }
  .stackTitle {
    margin-bottom : 14px;
  }
  .stackSearch input {
    text-align: center;
  }
  .stackWrapper {
    padding : 0 8px;
  }
  .animeCardRow {
    margin-right: -4px;
    margin-left: -4px;
  }
}