.headerSection {
  background-color: #7158e2;
  position: relative;
  height: 60px;
}
.headerRow { 
  display: flex;
  flex-wrap: wrap;
}
.headerLeft {
  width: 30%;
  float: left;
}
.headerBrand {
  padding : 16px 14px;
}
.headerTitle {
  margin: 0;
  font-size: 24px;
  color :#fff;
}
.headerTitle a {
  color :#fff;
  text-decoration: none;
}

.headerRight {
  width: 70%;
}
.headerNavigation{
  float: right;
}
.headerNavigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.headerNavigation ul > li {
  display: inline-block;
}
.headerNavigation ul > li > a {
  color :#fff;
  text-decoration: none;
  padding : 21px 14px;
  display: inline-block;
  transition : .3s;
}
.headerNavigation ul > li > a:hover {
  background-color: #666;
}
@media (min-width: 641px){
  .menuToggle{
    display: none;
  }
}

@media (max-width: 640px){
  .headerSection {
    height: auto;
  }
  .headerLeft {
    width: 100%;
  }
  .headerRight {
    width: 100%;
  }
  .headerBrand {
    display: inline-block
  }
  .menuToggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #4b4b4b;
    top: 0;
    right : 0;
  }
  .menuToggle span {
    position: absolute;
    width: 60%;
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
    top :50%;
    left :50%;
    transition : .3s;
    transform: translate(-50%,-50%)
  }
  .menuToggle span:nth-child(1){
    top : calc(50% - 10px);
  }
  .menuToggle span:nth-child(3){
    top : calc(50% + 10px);
  }
  .menuToggle.active span:nth-child(1) {
    top : 50%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .menuToggle.active span:nth-child(2) {
    top : 50%;
    transform: translate(-50%,-50%) rotate(calc(180deg + 45deg));
  }
  .menuToggle.active span:nth-child(3) {
    top : 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  .headerNavigation {
    position: relative;
    float: none;
    background-color: #4b4b4b;
    max-height: 0px;
    overflow: hidden;
  }
  .headerNavigation.active {
    max-height: 100%;
  }
  .headerNavigation ul > li {
    width: 100%;
  }
  .headerNavigation ul > li a {
    width: 100%;
  }
}