.animeListSection {
  position: relative;
  padding: 14px 0;
}
.animeListHeader {
  position: relative;
}
.searchSection {
  position: relative;
  text-align: center;
  padding: 14px
}
.searchSection h4 {
  font-size: 24px;
  margin: 0 0 14px 0;
  color: #7158e2;
  
}
.searchSection input {
  font-size: 24px;
  border: 3px solid #7158e2;
  color : #7158e2;
  border-radius: 4px;
  padding : 8px 14px;
  text-align: center;
  width: 100%;
  max-width: 640px;
  outline: none;
  font-weight: 600;
}
/* ANIME LIST BLOCk */
.animeListBody {
  position: relative;
}
.animeListBlock {
  
}
.animeListBlock h4 {
  margin: 0;
  padding: 14px;
  margin-bottom: 14px;
  border-bottom: 2px solid #ddd;
}
.animeListBlock h4 a {
  text-decoration: none;
  color : #7158e2;
}
.animeListRow {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 640px){
  .animeListBlock {
    padding : 0 8px;
  }
  .animeListRow {
    margin-right: -4px;
    margin-left: -4px;
  }
}